# Python cache
__pycache__/
*.py[cod]
*.pyo

# MacOS
.DS_Store

# Env / Secrets
.env
.env.*
!.env.example       # <-- ไฟล์ตัวอย่างที่ควร commit ได้
!.env.vault         # <-- ถ้าจำเป็นต้องใช้จริง

# Development / Test
test*
*.jpg
*.png
*.jpeg

# Calibration / Temp folders
images/
calibrate_result/

# Editor config (optional)
.vscode/

# Log / misc
*.log
*.sqlite3
*.db


env/
